header#banner.under-header
  .container
    img(src='assets/images/Bpms_BPMS.png', alt='I\'m Yeoman')

.container
  .row
    .col-lg-5
      h1.page-header Create a dispute
      form
        .form-group
          p
            input.form-control(ng-model='newDispute.Client', name='Client',type='text', placeholder='Client')
          p
            input.form-control(ng-model='newDispute.Account',name='Account',type='text', placeholder='Account')
          p
            input.form-control(ng-model='newDispute.Amount',name='Amount',type='text', placeholder='Amount')
          p
            textarea.form-control(ng-model='newDispute.Description',name='Description',rows='3', placeholder='Description')
          p.right-justify
            button.btn.btn-primary(type='submit', ng-click='addDispute()') Add new
    .col-lg-7
      h1.page-header Disputes
      .dispute-box(ng-repeat='dispute in disputes',ng-class="{'bg-success': dispute.Status == 'Approved','bg-warning': dispute.Status == 'Challenged','bg-danger': dispute.Status == 'Rejected','bg-primary': dispute.Status == 'Pending'}")
        button.close(type='button', ng-click='deleteDispute(dispute)') x
        p
          dl.dl-horizontal
            dt Reference
            dd {{dispute.Ref}}
            dt Client
            dd {{dispute.Client}}
            dt Account
            dd {{dispute.Account}}
            dt Amount
            dd {{dispute.Amount}}
            dt Description
            dd {{dispute.Description}}
            dt Status
            dd 
              strong
                {{dispute.Status}}
            dt(ng-if="dispute.Status == 'Challenged' && !dispute.Answer") Question
            dd(ng-if="dispute.Status == 'Challenged' && !dispute.Answer")
              em
                {{dispute.Question}}
            dt(ng-if="dispute.Status == 'Challenged' && !dispute.Answer") Answer
            dd(ng-if="dispute.Status == 'Challenged' && !dispute.Answer")
              textarea.form-control(ng-model='dispute.newAnswer',rows='3')
              p
              p.text-right
                button.btn.btn-primary(ng-click='updateDispute(dispute)') Reply

footer.footer
